* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Color and Font Variables */

/* default theme */
body[data-theme="London"] {
    --body-bg-color: #f0f0f0;
    --body-color: black;
    --nav-color: rgba(0, 0, 0, .5);
    --nav-hover-color: rgba(0, 0, 0, .7);
    --btn-bg-color: #cacaca;
    --btn-hover-bg-color: #9e9e9e;
    --btn-color: black;
    --btn-hover-color: white;
    --font-body: 'Quicksand', sans-serif;
    --font-accent: 'Julius Sans One', sans-serif;
    --game-border: #949494;
    --feedback-suc-bg-color:#aaffaa;
    --feedback-err-bg-color:#ffaaaa;
    --feedback-color: black;
    --msg-bg-color: #f8f8f8;
}

/* purple theme */
body[data-theme="Paris"] {
    --body-bg-color: #4d244e;
    --body-color: #f6bd66;
    --nav-color: #f6bd66;
    --nav-hover-color: #d37b79;
    --btn-bg-color: #6d335c;
    --btn-hover-bg-color: #f6bd66;
    --btn-color: #f6bd66;
    --btn-hover-color: black;
    --font-body: 'Quicksand', sans-serif;
    --font-accent: 'Julius Sans One', sans-serif;
    --game-border: #949494;
    --feedback-suc-bg-color:#aaffaa;
    --feedback-err-bg-color:#ffaaaa;
    --feedback-color: black;
    --msg-bg-color: #6d335c;
}

/* blue theme */
body[data-theme="Zurich"] {
    --body-bg-color: #071146;
    --body-color: white;
    --nav-color: #ffffffef;
    --nav-hover-color: #ffffffb3;
    --btn-bg-color: #172983;
    --btn-hover-bg-color: #3850c5;
    --btn-color: white;
    --btn-hover-color: white;
    --font-body: 'Quicksand', sans-serif;
    --font-accent: 'Julius Sans One', sans-serif;
    --game-border: #949494;
    --feedback-suc-bg-color:#aaffaa;
    --feedback-err-bg-color:#ff6a6a;
    --feedback-color: black;
    --msg-bg-color: #2139af;
}

/* red theme */
body[data-theme="Madrid"] {
    --body-bg-color: #8A191F;
    --body-color: white;
    --nav-color: #ffffffef;
    --nav-hover-color: #ffffffb3;
    --btn-bg-color: #F0B454;
    --btn-hover-bg-color: #67989D;
    --btn-color: black;
    --btn-hover-color: white;
    --font-body: 'Quicksand', sans-serif;
    --font-accent: 'Julius Sans One', sans-serif;
    --game-border: #949494;
    --feedback-suc-bg-color:#84bcc2;
    --feedback-err-bg-color:#F0B454;
    --feedback-color: black;
    --msg-bg-color: #67989D;
}

/* new theme */
body[data-theme="Rome"] {
    --body-bg-color: #FFF7EB;
    --body-color: #116d4e;
    --nav-color: rgba(0, 0, 0, .5);
    --nav-hover-color: rgba(0, 0, 0, .7);
    --btn-bg-color: #B8DF91;
    --btn-hover-bg-color: #289E77;
    --btn-color: black;
    --btn-hover-color: white;
    --font-body: 'Quicksand', sans-serif;
    --font-accent: 'Julius Sans One', sans-serif;
    --game-border: #949494;
    --feedback-suc-bg-color:#B8DF91;
    --feedback-err-bg-color:#ffaaaa;
    --feedback-color: black;
    --msg-bg-color: #ffbe6a;
}



/* for sticky footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flexible {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-color);
    font-family: var(--font-body);
}

#canvas {
    width: 604px;
    height: 604px;
    margin: 15px auto;
    display: grid;
    grid-gap: 0px 0px;
    background-color: #f0f0f0;
    border: 2px solid var(--game-border);
    position: relative;
}

.tile {
    width: 60px;
    height: 60px;
    border: 1px solid var(--game-border);
    opacity: 0.7;
    transition: transform 0.8s;
}

/* Navigation */

nav {
    background-color: var(--body-bg-color);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
    color: var(--nav-color);
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--nav-hover-color);
}

.navbar-toggler, .navbar-toggler-icon i{
    color: var(--body-color);
}

.section {
    display: none;
}

.section.active {
    display: block;
}

/* Heading */

h2, h3 {
    text-align: center;
    font-family: var(--font-accent);
}

h2 {
    margin: 80px auto;
}

h3 {
    margin: 30px auto;
}

/* Forms & Buttons */

.form-control, .btn {
    border-radius: 0.5rem;
}

.form-control {
    padding: 1.2rem;
}

.btn {
    padding: 0.6rem;
}

.btn-sm {
    padding: 0.4rem;
}

.btn-theme {
    font-family: var(--font-accent);
    background: var(--btn-bg-color);
    color: var(--btn-color);
}

.btn-theme:hover {
    background-color: var(--btn-hover-bg-color);
    color: var(--btn-hover-color);
}

table td {
    color: var(--body-color);
}

.form-group #theme {
    padding: .6rem;
    height: 3rem;
}

/* User feedback */

.feedback {
    border-radius: 0.5rem;
    padding: .8rem;
    margin-bottom: 1rem;
    color: var(--feedback-color);
}

.feedback.success {
    background-color: var(--feedback-suc-bg-color);
}

.feedback.error {
    background-color: var(--feedback-err-bg-color);
}

/* Chat app */

#chat-head {
    cursor: pointer;
}

#chat-head i:first-child {
    float: left;
    color: var(--btn-hover-bg-color);
}

#chat-head i:last-child {
    float: right;
    color: var(--btn-hover-bg-color);
}

#chatbox #messages {
    overflow-y: scroll;
    max-height: 250px;
}

#chatbox .message {
    padding: 0.5rem;
    margin-right: 2px;
    border-radius: 4px;
    background-color: var(--msg-bg-color);
    margin-bottom: 5px;
}

#chatbox #newmessage {
    padding: 1.4rem;
}

/* Game ending */

.win {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: url(../img/smile-regular.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center;
    animation: fade-out 2s;
}

@keyframes fade-out {
    0%     {    transform: scale(1); opacity: 1;}
    100%   {    transform: scale(2); opacity: 0;}
}

/* Other */

.hidden {
    display: none;
}
