* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

#canvas {
    width: 604px;
    height: 604px;
    margin: 15px auto;
    display: grid;
    grid-gap: 0px 0px;
    border: 2px solid rgb(148, 148, 148);
}

.tile {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(148, 148, 148);
    opacity: 0.7;
    transition: transform 0.8s;
}

body {
    background-color: #f0f0f0;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

/* for sticky footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flexible {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

nav {
    background-color: #f0f0f0;
}

.navbar-toggler, .navbar-toggler-icon {
    color: black;
}

h2, h3 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}

h2 {
    margin: 10vh auto;
}

h3 {
    margin: 20px auto;
}

.form-control, .btn {
    border-radius: 0.5rem;
}

.form-control {
    padding: 1.2rem;
}

.btn {
    padding: 0.6rem;
}

.btn-theme {
    background: rgb(202, 202, 202);
    font-family: 'Julius Sans One', sans-serif;
}

.btn-theme:hover {
    background-color: rgb(158, 158, 158);
    color: white;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.feedback {
    border-radius: 0.5rem;
    padding: .8rem;
    font-family: 'Quicksand', sans-serif;
}

.feedback.success {
    background-color: rgb(170, 255, 170);
}

.feedback.error {
    background-color: rgb(255, 170, 170);
}

#chatbox #messages {
    overflow-y: scroll;
    max-height: 200px;
}

#chatbox .message {
    font-family: 'Quicksand', sans-serif;
    padding: 0.5rem;
    margin-right: 2px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 5px;
}

#chatbox input {
    padding: 0.6rem;
    margin-bottom: 2px;
    border: none;
}

.hidden {
    display: none;
}
